@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.user{
  font-weight: 700;
}

.header-top{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 15px;
}
/* 로그인/회원가입 폼 전체에 대한 스타일 */
.login {
  text-align: center; /* 텍스트를 가운데 정렬 */
}

/* 로그인/회원가입 링크에 대한 스타일 */
.login a {
  display: inline-block; /* 링크를 인라인 요소로 표시 */
  margin: 10px; /* 링크 간격 조정 */
  padding: 4px 8px; /* 링크 패딩 설정 */
  background-color: #ffffff; /* 배경색 */
  color: rgb(64, 64, 64); /* 글자색 */
  text-decoration: none; /* 밑줄 제거 */
  border-radius: 1px; /* 링크 모서리 둥글게 만들기 */
  border: 1px solid #555;
}

.firstS{
  display: flex;
  justify-content: space-between;
}
.firstS input{
  border: 0px;
  background-color: #fff;
}

/* 유저 정보에 대한 스타일 */
.userInfo {
  margin-top: 20px; /* 유저 정보 상단 여백 */
}

.userInfo img {
  width: 40px; /* 프로필 이미지 크기 조정 */
  height: 40px;
  border-radius: 50%; /* 원형 모양으로 프로필 이미지 표시 */
  margin-right: 10px; /* 이미지 우측 여백 */
}

.userInfo span {
  vertical-align: middle; /* 텍스트 수직 정렬 */
}

.userInfo a {
  color: #4f4f4f; /* 로그아웃 링크 색상 */
  text-decoration: none; /* 밑줄 제거 */
  font-size: 12.5px;
}

.userInfo a:hover {
  text-decoration: underline; /* 호버 시 밑줄 표시 */
}

.commentContainer {
  max-width: 100%;
  margin: 0 auto;
  padding:  2% 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  
}
.commentUser{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.commentUser img {
  width: 40px; /* 프로필 이미지 크기 조정 */
  height: 40px;
  border-radius: 50%; /* 원형 모양으로 프로필 이미지 표시 */
  margin-right: 10px; /* 이미지 우측 여백 */
}

/* 답변달기 링크 */
.add_comment {
  background-color: #1EC800;
  margin-bottom: 10px;
  color: white; /* 텍스트 색상을 흰색으로 설정 */
  padding: 20px 30px; /* 내부 패딩 설정 */
  border: none; /* 테두리 제거 */
  border-radius: 0px; /* 둥근 모서리 생성 */
  text-decoration: none; /* 링크 텍스트에 밑줄 제거 */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 모양으로 변경 */ 
}

/* 각 댓글 요소 */
.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* 작성자 이름 */
.Cusername {
  font-weight: bold;
  color: #333; /* 이름 색상 변경 */
}

/* 작성 일자 */
.Cdate {
  color: #666; /* 날짜 색상 변경 */
  font-size: 12px;
}

/* 댓글 텍스트 */
.Ccomment_text {
  margin-top: 5px;
  font-size: 14px;
}

body {
  font-family: 'Pretendard-Regular';
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

header {
  background-color: #ffffff;
  padding: 20px;
  border-bottom: 2px solid #02b875;
}

.hashTag{
  border-radius: 50%;
  color:#666;
  margin-top: 10px;
}


.logo {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin-right: 30px;
}

#navher {
  font-family: 'GangwonEduPowerExtraBoldA';
  color: #1EC800;
  font-size: 30px;
  font-weight: bold;
}

#in {
  font-weight: 200;
  font-size: 35px;
}

.containerContent {
  max-width: 100%;
  margin: auto;
  padding:  2% 30%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.name {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

#Q {
  color: #1EC800;
  font-size: 44px;
  font-weight: 100;
  margin-right: 10px;
}

.content {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin: 20px 5px;
}

.image {
  max-width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.category {
  font-weight: bold;
  color: #3867e8;
  font-size: 14px;
}

#time {
  font-size: 13px;
  color: #888;
}
a {
  text-decoration-line: none;
  color: #888;
}
.modify{
  margin: 10px 0px;
}



/* body {
  font-family: 'Pretendard-Regular';
  font-size: 20px;
  maring: 50px 30px;
  padding: 30px;
}

a {
  text-decoration-line: none;
  color: black;
}
#in {
  font-weight: 200;
  font-size: 40px;
}

#navher {
  font-family: GangwonEduPowerExtraBoldA;
  color: #1EC800;
  font-size: 30px;
  font-weight: bold;
}

#table {
  display: flex;
  padding: 30px;
}

#Q {
  font-family: Pretendard-Regular;
  color: #1EC800;
  font-weight: 200;
  font-size: 44px;
  padding-right: 10px;
}
.name{
  font-size: 24px;
  line-height: 36px;
  font-weight: 800;
}
#name{
  width: 400px;
}

header {
  margin: 30px 10px;
}

.containerContent{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 30px 40px;
}

.category {
  color: #3867e8;
  font-size: 14px;
}

#time {
  color: #909090;
  font-size: 13px;
}
.listCategory{

}
img {
  width: 30%;
} */