@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.user{
  font-weight: 700;
}

.header-top{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 15px;
}
/* 로그인/회원가입 폼 전체에 대한 스타일 */
.login {
  text-align: center; /* 텍스트를 가운데 정렬 */
}

/* 로그인/회원가입 링크에 대한 스타일 */
.login a {
  display: inline-block; /* 링크를 인라인 요소로 표시 */
  margin: 10px; /* 링크 간격 조정 */
  padding: 4px 8px; /* 링크 패딩 설정 */
  background-color: #ffffff; /* 배경색 */
  color: rgb(64, 64, 64); /* 글자색 */
  text-decoration: none; /* 밑줄 제거 */
  border-radius: 1px; /* 링크 모서리 둥글게 만들기 */
  border: 1px solid #555;
}



/* 유저 정보에 대한 스타일 */
.userInfo {
  margin-top: 20px; /* 유저 정보 상단 여백 */
}

.userInfo img {
  width: 40px; /* 프로필 이미지 크기 조정 */
  height: 40px;
  border-radius: 50%; /* 원형 모양으로 프로필 이미지 표시 */
  margin-right: 10px; /* 이미지 우측 여백 */
}

.userInfo span {
  vertical-align: middle; /* 텍스트 수직 정렬 */
}

.userInfo a {
  color: #4f4f4f; /* 로그아웃 링크 색상 */
  text-decoration: none; /* 밑줄 제거 */
  font-size: 12.5px;
}

.userInfo a:hover {
  text-decoration: underline; /* 호버 시 밑줄 표시 */
}


body {
  font-family: 'Pretendard-Regular';
  margin: 0;
  padding: 0;
}
a {
  text-decoration-line: none;
  color: black;
}
.content {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  margin-bottom: 20px;
  padding: 10px;
}

.logo {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#navher {
  font-family: 'GangwonEduPowerExtraBoldA';
  color: #1EC800;
  font-size: 30px;
  font-weight: bold;
}

#in {
  font-weight: 200;
  font-size: 40px;
}

h2 {
  font-size: 28px;
  color: #333;
  margin: 0;
}

#table {
  overflow-x: auto;
  width: 100%;
  margin-top: 40px;
}

.listTable {
  width: 100%;
  border-collapse: collapse;
}

.listName td {
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  padding: 10px 0;
  text-align: center;
}

.list td {
  border-bottom: 1px solid #ddd;
  padding: 13px 0;
}

.list a {
  text-decoration: none;
  color: #333;
}

.listCategory {
  color: #02b875;
}

.upload_time {
  color: #888;
}
#name {
  width: 40%; 
}

.menu{
  display: flex;
  justify-content: space-between;
}

#question {
  background-color: #1EC800;
  color: white; /* 텍스트 색상을 흰색으로 설정 */
  padding: 20px 30px; /* 내부 패딩 설정 */
  border: none; /* 테두리 제거 */
  border-radius: 0px; /* 둥근 모서리 생성 */
  text-decoration: none; /* 링크 텍스트에 밑줄 제거 */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 모양으로 변경 */
}

#qna{
  display: flex;
  align-items: center;
}