<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/add.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- <h1>회원가입</h1>
    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">회원가입</button>
    </form> -->

    <header>
      <a class="logo" href="{% url 'main'%}">
        <span id="navher">NAVHER</span>
        <span id="in">지민iN</span>
      </a>
    </header>
    {% block content %}
    <div class="container">
      <h1>회원가입</h1>
      <div class="form-container" action="{% url 'login' %}">
        <form class="post-form" action="{% url 'signup' %}" method="POST">
          {% csrf_token %} {{form.as_p}}
          <!-- <p>제목: <input type="text" name="title"></p>
                본문 : <textarea name="content" cols="30" rows="10"></textarea> -->
          <button type="submit" class="save btn btn-default">회원가입</button>
        </form>
      </div>
    </div>

    {% endblock %}
  </body>
</html>
