<head>
    <style>
        .que-title {
            background-color : green;
            border : 2px darkgreen;
            text-align : center;
        }
        .que-contents {
            background-color : lightyellow;
            border : 2px dashed darkcyan;
            border-radius : 0 0 10px 10px;
            padding : 30px;
            margin : 20px;
        }
    </style>
</head>
<body>
    <div class = "que-title">
        <h1>{{ question.title }}</h1>
    </div>
    <div class = "que-contents">
        <span>{{ question.upload_time }}</span>
        <div class="content">{{ question.content }}</div>
    </div>
</body>