<body>
    <div class="content">
        <h1 style="color: blue; text-decoration: underline">질문게시판😻💖😼 </h1>
        <h3 style="color: coral"> 김민솔이 만들었음 (찡긋) + 지민언니의 지분🦋  </h3>  
        <h4 style="color: salmon"> 백엔드 아기사자 </h4>
        <ul>
            {% for post in posts %}
                <li><a href="{% url 'detail' pk=post.id %}">{{post.title}}</a></li>
                <span>{{post.upload_time}}</span>
            {% endfor %}
        </ul>
        <img src="https://img-cdn.theqoo.net/bIwyFC.jpg" alt="myungsoo">
    </div>
</body>