<body>
{% load static %}

{% block head %}
<link rel=""stylesheet" href="{% static 'css/test.css' %}">
<link rel=""stylesheet" href="{% static 'css/test2.css' %}">
{% endblock %}
    <div class="content">
        <h1 style="color: rgb(77, 77, 196); text-decoration: underline">질문게시판😻💖😼 </h1>
        <h3 style="color: rgb(190, 126, 102)"> minsol's blog🦋  </h3>  
        <h4 style="color: rgb(221, 114, 102)"> 백엔드 아기사자 </h4>
        <a href="{% url 'new' %}">new!</a>
        
        {% if not user.is_authenticated %}
        <a href="{% url 'signup' %}">회원가입</a>
        <a href="{% url 'login' %}">로그인</a>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">로그아웃</a>
            <p>로그인 한 사람: {{ user.username }}
                <br>
                <hr>
                아이디: {{user.username}} 닉네임: {{user.nickname}} 대학: {{user.university}} 위치: {{user.location}} 학과: {{user.department}} 얼마나바보인지뽐내기: {{user.babopower}}
            </p>
        {% endif %}
        <ul>
            {% for post in posts.all %}
            <h3>{{post.title}}</h3>
            {{post.date}}
            <br />
            {{post.summary}}
            <a href="{%url 'detail' post.id%}">...more</a>
{% endfor %}
        </ul>
        <img src="https://img-cdn.theqoo.net/bIwyFC.jpg" alt="myungsoo">
    </div>


</body>