<h3>{{question.title}}</h3>
{{question.upload_time}}
<br />
{{question.content}}
<div>
    {% for hashtag in hashtags.all %}
    #{{ hashtag }}
    {% endfor %}
</div>
<br/ >
<a href="{% url 'delete' question.id %}">삭제</a>
<a href="{% url 'update' question.id %}">수정</a>
<hr>

<br/ >
<a class = "add_comment" href="{% url 'add_comment' question.id %}">답변 달기</a>

{% for comment in question.comments.all %}
    <div class="comment">
        <strong class="username">{{ comment.username }}</strong>
        <div class="date">{{ comment.create_at }}</div>
        <p>{{ comment.comment_text | linebreaks }}</p>
    </div>
{% empty %}
    <p>아직 댓글이 없습니다.</p>
{% endfor %}
